.Modern-Slider{
    overflow: hidden;
}
.sidebar-navigation{
    .logo{
        span{
            position: absolute;
            font-size: 12px;
            border: 1px solid #ccc;
            line-height: 20px;
            font-weight: 400;
            padding: 2px 5px;
            bottom: 20px;
            right: 20px;
        }
    }
}